ion-icon.button-dismiss(name="close-circle")
.left
  .image-container
    .image-round
    .button-box
      .button.button--purple
        p -
        p 2000
        p +
.right
  .price
    p 5
  .info
      span Berenjenas | 20kg | Chino
