#carrito.popup('*ngIf'="showDrawer")
  .background('(click)'="hideCarrito()")
  .drawer('*ngIf'="!uploadRecipe")
    .products
      carrito-card
      carrito-card
      carrito-card
      carrito-card
    .h-line
    .total
      span.total__title Total:
      span.total__price 10000
    .button.button--checkout.button--purple() Checkout
  .drawer('*ngIf'="uploadRecipe")
    .content
      ion-icon(name="cloud-upload").cloud
      span Subir comprobante de transacción de pago
      .button.button--purple.button--subir Subir
  

ion-footer.main-footer   
  ion-tabs
    ion-tab-bar(slot="bottom").main-footer
      ion-tab-button('(click)'="tienda()").main-footer__element
        ion-icon(src="assets/store.svg")
        ion-label Tienda
      ion-tab-button('(click)'="carrito()").main-footer__element
        ion-icon(name="cart-outline")
        ion-label Carrito
      ion-tab-button('(click)'="profile()").main-footer__element
        ion-icon(name="person-circle")
        ion-label Perfil
