
<div class="popup" id="carrito" *ngIf="showDrawer">
  <div class="background" (click)="hideCarrito()"></div>
  <div class="drawer" *ngIf="!uploadRecipe">
    <div class="products">
      <carrito-card *ngFor="let producto of this.auxService.carrito" cantidad="{{producto.cantidad}}" id="{{producto.producto.id}}" imgUrl="{{producto.producto.imgUrl}}" price="{{producto.producto.price}}" name="{{producto.producto.name}}"></carrito-card>
    </div>
    <div class="h-line"></div>
    <div class="total"><span class="total__title">Total:</span><span class="total__price">₡ {{sumarTotal()}}</span></div>
    <div class="button button--checkout button--purple" (click)="openCheckout()">Checkout</div>
  </div>
  <div class="drawer" *ngIf="uploadRecipe">
    <div class="content">
      <ion-icon class="cloud" name="cloud-upload" (click)="choose()"></ion-icon><span>Subir comprobante de transacción de pago</span>
      <div class="button button--purple button--subir" (click)="subir()">Subir</div>
    </div>
  </div>
</div>
<ion-footer class="main-footer">  
  <ion-tabs>
    <ion-tab-bar class="main-footer" slot="bottom">
      <ion-tab-button class="main-footer__element" (click)="tienda()">
        <ion-icon src="assets/store.svg"></ion-icon>
        <ion-label>Tienda</ion-label>
      </ion-tab-button>
      <ion-tab-button class="main-footer__element" (click)="carrito()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>
      <ion-tab-button class="main-footer__element" (click)="profile()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>