#carrito.popup('*ngIf'="showDrawer")
  .drawer
    .products
    .h-line
    .total
      span.total__title Total:
      span.total__price 10000
    .button.button--purple Checkout
  

ion-footer.main-footer   
  ion-tabs
    ion-tab-bar(slot="bottom").main-footer
      ion-tab-button('(click)'="tienda()").main-footer__element
        ion-icon(src="assets/store.svg")
        ion-label Tienda
      ion-tab-button(tab="carrito").main-footer__element
        ion-icon(name="cart-outline")
        ion-label Carrito
      ion-tab-button('(click)'="profile()").main-footer__element
        ion-icon(name="person-circle")
        ion-label Perfil
