
<div class="popup" id="carrito">
  <div class="drawer">
    <div class="products"></div>
    <div class="h-line"></div>
    <div class="total"><span class="total__title">Total:</span><span class="total__price">10000</span></div>
    <div class="button button--purple">Checkout</div>
  </div>
</div>
<ion-footer class="main-footer">  
  <ion-tabs>
    <ion-tab-bar class="main-footer" slot="bottom">
      <ion-tab-button class="main-footer__element" (click)="tienda()">
        <ion-icon src="assets/store.svg"></ion-icon>
        <ion-label>Tienda</ion-label>
      </ion-tab-button>
      <ion-tab-button class="main-footer__element" tab="carrito">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>
      <ion-tab-button class="main-footer__element" (click)="profile()">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-footer>