ion-header.main-header
  .logo
    img(src="https://img.icons8.com/plasticine/100/000000/salad.png").salad  
    .location
      img(src="https://img.icons8.com/office/80/000000/place-marker.png").pinpoint
      span.location__text Central, Alajuela, Alajuela
