app-header

ion-content
  .content
    h2.content__title Productos de {{this.productor.name}}
    .card-box
      producto-card(
        '*ngFor'='let producto of this.productor.productos'
        cantidad = '{{producto.quantity}}'
        id = '{{producto.id}}'
        name = '{{producto.name}}'
        imgUrl = '{{producto.imgUrl}}'
        price = '{{producto.price}}'
        )

app-footer
