
<ion-content class="login">
  <div class="login__title">El Chino Granjero</div>
  <div class="login-content"><span class="login-content__title">Iniciar sesión</span>
    <ion-input class="login-content__user" placeholder="Usuario"></ion-input>
    <ion-input class="login-content__password" placeholder="Contraseña"></ion-input>
    <div class="login__submit">
      <ion-button class="login__submit--login" expand="block">Iniciar sesión</ion-button>
      <p class="login__submit--signup">O registrarse</p>
    </div>
  </div>
</ion-content>