
<div class="card-body">
  <div class="card-body__background"><img [src]="imgUrl"/></div>
  <div class="card-body__shade"></div>
  <div class="card-info__quantity">
    <p>{{cantidad}}</p>
  </div>
  <div class="card-info"> 
    <div class="card-info__name"><span>{{name}}</span></div>
    <div class="card-info__price"><span>₡ {{price}}</span></div>
    <div class="button-box">
      <div class="button button--purple">
        <p (click)="disminuir()">-</p>
        <p>{{cantidadCarrito}}</p>
        <p (click)="aumentar()">+</p>
      </div>
    </div>
  </div>
</div>