.card-body
  .card-info__quantity
      p 100
  .card-info  
    .card-info__name
      span Berenjena
    .card-info__price
      span ₡5
    .button-box
      .button.button--purple
        p -
        p 1
        p +
