.card-body
  .card-body__background
    img('[src]'='imgUrl')
  .card-body__shade
  .card-info__quantity
      p {{cantidad}}
  .card-info  
    .card-info__name
      span {{name}}
    .card-info__price
      span ₡ {{price}}
    .button-box
      .button.button--purple
        p -
        p {{cantidadCarrito}}
        p +
