.button{
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background: $color-red;
  border-radius: rem-calc(30px);

  &--purple{
    background: $color-purple;
  }

  &--inverted{
    color:$color-red;
    background: white;
  }
}

.button-box{
  .button{
    display: flex;
    flex-direction: row;
    padding: 0;
    p{
      flex:33%;
      margin: 0;
    }
  }
}
