
<ion-content>
  <div class="login">
    <div class="login-content login-content--signup"><span class="login-content__title">Registro</span>
      <div class="inputs">
        <ion-input class="inputs__input inputs__input--user" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Apellido" [(ngModel)]="apellido"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Cédula" [(ngModel)]="cedula"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Número telefónico" [(ngModel)]="numero"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Fecha de nacimiento AAAA-MM-DD" [(ngModel)]="fecha"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Usuario" [(ngModel)]="usuario"></ion-input>
        <ion-input class="inputs__input inputs__input--password" placeholder="Contraseña" type="password" [(ngModel)]="contrasena"></ion-input>
        <ion-input class="inputs__input inputs__input--direccion" placeholder="Dirección" [(ngModel)]="direccion"></ion-input>
        <div class="inputs inputs--inline">
          <ion-select class="inputs__input inputs__input--inline" [(ngModel)]="provincia" (ionChange)="changedProvincia()" placeholder="Provincia">
            <ion-select-option *ngFor="let provincia of this.provinces" [value]="provincia.i">{{provincia.element}}</ion-select-option>
          </ion-select>
          <ion-select class="inputs__input inputs__input--inline" [(ngModel)]="canton" (ionChange)="changedCanton()" placeholder="Canton">
            <ion-select-option *ngFor="let canton of this.cantones" [value]="canton.i">{{canton.element}}</ion-select-option>
          </ion-select>
          <ion-select class="inputs__input inputs__input--inline" [(ngModel)]="district" (ionChange)="changedDistrict" placeholder="Distrito">
            <ion-select-option *ngFor="let district of this.districts" [value]="district.i">{{district.element}}</ion-select-option>
          </ion-select>
        </div>
      </div>
      <div class="login__submit" (click)="requestpapi()"><a class="button login__submit--login">Registrarse</a></div>
    </div>
  </div>
</ion-content>