.card-body('(click)'="goToProductor()")
  .card-body__background
    img('[src]'='imgUrl')
  .card-body__shade
  .card-info
    .card-info__name
      p {{name}}
    .card-score
      img(src="https://img.icons8.com/color/48/000000/filled-star.png").card-score__star
      .card-score__score
        p {{score}}/5
  
