.card-body
  .card-body__background
  .card-body__shade
  .card-info
    .card-info__name
      p Chino Yock
    .card-score
      img(src="https://img.icons8.com/color/48/000000/filled-star.png").card-score__star
      .card-score__score
        p 5/5
  
