ion-header.main-header
  .logo
    img(src="https://img.icons8.com/plasticine/100/000000/salad.png").salad  
    .location
      img(src="https://img.icons8.com/office/80/000000/place-marker.png").pinpoint
      span.location__text Central, Alajuela, Alajuela

ion-content.main-content
  .card-box
    h2.card-box__title Productores cerca suyo
    ion-card
      ion-card-header
        ion-card-title Card
      ion-card-content
        span El chinazo
    ion-card
      ion-card-header
        ion-card-title Card
      ion-card-content
        span El chinazo

ion-tabs
  ion-tab-bar(slot="bottom").main-footer
    ion-tab-button(tab="tienda").main-footer__element
      ion-icon(src="assets/storefront-outline.svg")
      ion-label Tienda
    ion-tab-button(tab="carrito").main-footer__element
      ion-icon(name="cart-outline")
      ion-label Carrito
    ion-tab-button(tab="perfil").main-footer__element
      ion-icon(name="person-circle")
      ion-label Perfil
        
