ion-header.main-header
  .logo
    img(src="https://img.icons8.com/plasticine/100/000000/salad.png").salad  
    .location
      img(src="https://img.icons8.com/office/80/000000/place-marker.png").pinpoint
      span.location__text Central, Alajuela, Alajuela

ion-content.main-content
  ion-card
    ion-card-header
      ion-card-title Card
    ion-card-content
      span El chinazo

ion-footer.main-footer
  .main-footer__options
    button.main-footer__options--tienda Tienda
    button.main-footer__options--carrito Carrito 
    button.main-footer__options--perfil Perfil
