app-header
      
ion-content.main-content
  .content
    h2.content__title Productores cerca suyo
    .card-box
      productor-card(
        '*ngFor'='let productor of this.auxService.productores'
        name='{{productor.name}}'
        score='{{productor.score}}'
        imgUrl = '{{productor.imgUrl}}'
        '(click)' = 'loadProductor(productor)'
        )  

app-footer
