app-header
      
ion-content.main-content
  .content
    h2.content__title Productores cerca suyo
    .card-box
      productor-card
      productor-card
      productor-card
      productor-card
      productor-card
      productor-card
      productor-card
      productor-card

app-footer
