
<app-header></app-header>
<ion-content class="main-content">
  <div class="content">
    <h2 class="content__title">Productores cerca suyo</h2>
    <div class="card-box">
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
      <productor-card></productor-card>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>