
<ion-content>
  <div class="top-image"><img src="assets/sample-user.png"/></div>
  <div class="profile-info">
    <div class="profile-info__title">{{this.auxService.profile.name}}</div>
    <div class="profile-info__content">
      <div class="profile-info__content__field">
        <p>Usuario</p><span>{{this.auxService.profile.userName}}</span>
      </div>
      <div class="profile-info__content__field">
        <p>Cedula</p><span>{{this.auxService.profile.cedula}}</span>
      </div>
      <div class="profile-info__content__field">
        <p class="profile-info__content__field--fecha">Fecha de nacimiento</p><span>{{this.auxService.profile.birthDate}}</span>
      </div>
      <div class="profile-info__content__field">
        <p>Telefono</p><span>{{this.auxService.profile.phoneN}}</span>
      </div>
      <div class="profile-info__content__field">
        <p>Direccion</p><span>{{this.auxService.profile.address}}</span>
      </div>
    </div>
  </div>
  <div class="profile-buttons"><a class="button" (click)="borrarCuenta()">Borrar cuenta</a><a class="button button--inverted" (click)="cerrarSesion()">Cerrar sesión</a></div>
</ion-content>
<app-footer class="main-footer"></app-footer>
