ion-content
  .top-image
    img(src="assets/sample-user.png")
  .profile-info
    .profile-info__title {{this.auxService.usuarioCargado.nombre}}
    .profile-info__content
      .profile-info__content__field 
        p Usuario
        span {{this.auxService.usuarioCargado.username}}
      .profile-info__content__field
        p Cedula
        span {{this.auxService.usuarioCargado.cedula}}
      .profile-info__content__field
        p.profile-info__content__field--fecha Fecha de nacimiento
        span {{this.auxService.usuarioCargado.fechaNacimiento}}
      .profile-info__content__field
        p Telefono
        span {{this.auxService.usuarioCargado.telefono}}
      .profile-info__content__field
        p Direccion
        span {{this.auxService.usuarioCargado.direccion}}
  .profile-buttons
    a.button('(click)'='borrarCuenta()') Borrar cuenta
    a.button.button--inverted('(click)'='cerrarSesion()') Cerrar sesión
    
    
app-footer.main-footer
