
<ion-content>
  <div class="top-image"><img src="assets/sample-user.png"/></div>
  <div class="profile-info">
    <div class="profile-info__title">Chino Yock</div>
    <div class="profile-info__content">
      <div class="profile-info__content__field"> 
        <p>Usuario</p><span>cvaz</span>
      </div>
      <div class="profile-info__content__field">
        <p>Cedula</p><span>1 1111 1111</span>
      </div>
      <div class="profile-info__content__field">
        <p class="profile-info__content__field--fecha">Fecha de nacimiento</p><span>3/12/2020</span>
      </div>
      <div class="profile-info__content__field">
        <p>Telefono</p><span>0000 0000</span>
      </div>
      <div class="profile-info__content__field">
        <p>Direccion</p><span>Del palo de mango, 500mts al norte</span>
      </div>
    </div>
  </div>
  <div class="profile-buttons"><a class="button">Borrar cuenta</a><a class="button button--inverted">Cerrar sesión</a></div>
</ion-content>
<app-footer class="main-footer"></app-footer>