ion-content
  .top-image
    img(src="assets/sample-user.png")
  .profile-info
    .profile-info__title Chino Yock
    .profile-info__content
      .profile-info__content__field 
        p Usuario
        span cvaz
      .profile-info__content__field
        p Cedula
        span 1 1111 1111
      .profile-info__content__field
        p.profile-info__content__field--fecha Fecha de nacimiento
        span 3/12/2020
      .profile-info__content__field
        p Telefono
        span 0000 0000
      .profile-info__content__field
        p Direccion
        span Del palo de mango, 500mts al norte
  .profile-buttons
    a.button Borrar cuenta
    a.button.button--inverted Cerrar sesión
    
    
app-footer.main-footer
